$menu-border-radius: 5px;

.navbar .has-megamenu {
  position: static !important;
  .active {
    background-color: white !important;
  }
}
.navbar .has-megamenu .dropdown-menu {
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  flex-flow: row wrap;
  .dropdown-menu {
    position: static !important;
    display: flex !important;
    flex-flow: column;
  }
  .megamenu {
    width: fit-content;
    display: inline-flex;
    flex-flow: column;
    margin-left: 30px;
    & > .dropdown-item {
      font-weight: 600;
    }
    .dropdown-menu {
      box-shadow: none;
      border: none;
      background-color: transparent;
      padding: 0;
      margin-top: 5px;
      .nav-item {
        padding: 0;
      }
    }
  }
}

.dropdown-toggle {
  cursor: pointer;
}
.dropdown-menu {
  @include h.center('h');
  background-color: white;
  position: absolute;
  min-width: 260px;
  z-index: 1;
  list-style: none;
  padding: 0;
  color: $body-color;
  display: none;
  border-radius: $menu-border-radius;
  &::after {
    @include h.arrow('up', white, 5px, 5px, 'solid');
    content: "";
    @include h.center('h');
    top: -5px;
  }
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  .dropdown {
    &::after {
      top: 10px;
      content: "\002B";
    }
  }
  .menu-item {
    margin: 0!important;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    img {
      max-height: 50px;
      max-width: 30px;
      @include h.appDirAuto($margin-end: 10px, $margin-start: 15px);
    }
    &:first-of-type {
      border-top-left-radius: $menu-border-radius;
      border-top-right-radius: $menu-border-radius;
    }
    &:last-of-type {
      border-bottom-left-radius: $menu-border-radius;
      border-bottom-right-radius: $menu-border-radius;
    }
    &:hover, &:focus, &:active {
      background-color: #f1f1f1;
    }
  }
  .dropdown-menu {
    @include h.appDirAuto($start: 160px);
    top: 0;
    box-shadow: none;
    &::after {
      top: 0;
      z-index: -1;
    }
  }
  a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  @include h.appDirAuto($padding-end: 15px);
  &::after {
    position: absolute;
    top: 10px;
    @include h.appDirAuto($end: 5px);
    content: "\002B";
    color: $secondary;
  }
  .menu-item-has-children {
    width: 100%;
  }
  &:hover, &:focus, &:active {
    & > .dropdown-menu {
      display: block;
      animation-name: slideDown;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    &::after {
      content: "\002D";
    }
  }
}

@keyframes slideDown {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}