<ul
  class="
    flex
    w-full
    flex-col
    ps-4vw
    @@extraClasses
  "
>
  <li class="menu-item lg:me-5 menu-item-has-children">
    <a class="nav-link text-white uppercase font-medium" href="/">home</a>
    <ul class="sub-menu">
      <li class="menu-item">
        <a href="/" class="nav-link">item1</a>
      </li>
      <li class="menu-item">
        <a href="/" class="nav-link">item1</a>
      </li>
      <li class="menu-item">
        <a href="/" class="nav-link">item1</a>
      </li>
    </ul>
  </li>
  <li class="menu-item lg:me-5">
    <a class="nav-link text-white uppercase font-medium" href="/">home</a>
  </li>
  <li class="menu-item lg:me-5">
    <a class="nav-link text-white uppercase font-medium" href="/">home</a>
  </li>
</ul>
